.App-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App-header ul li {
  display: inline-block;
  padding: 0 10px;
}

.App-header ul li a {
  color: rgb(48, 39, 129);
  text-decoration: none;
}

.App-header ul li a:hover {
  color: rgb(41, 160, 57);
}
